<div class="col-md-5">
    <app-card [location]="location[0]"></app-card>
</div>
<div class="col-md-7">
    <div class="row">
        <div class="col-md-12 col-lg-6">
            <app-card [location]="location[1]" class="mini-card"></app-card>
        </div>
        <div class="col-md-12 col-lg-6">
            <app-card [location]="location[2]" class="mini-card"></app-card>
        </div>
    </div>
    <div class="row">
            <div class="col-md-12 col-lg-6">
                <app-card [location]="location[3]" class="mini-card"></app-card>
            </div>
            <div class="col-md-12 col-lg-6">
                <app-card [location]="location[4]" class="mini-card"></app-card>
            </div>
        </div>
</div>
<div class="clearfix"></div>

